<div id="list-detail">
  <%= simple_form_for @list, :remote => true do |f| %>
      <%= f.text_area :title, :class => 'list-title expandable_text', :rows => '1', 'data-list-id' => f.object.id %>
  <% end %>
</div>
<div id="action-bar">
  Sort by:
  <%= sort_link @search, :due_date %> -
  <%= sort_link @search, :priority %> -
  <%= sort_link @search, :completed %>
  <div class="btn-group pull-right">
    <%= link_to 'Add New Task', '#', :class => 'btn btn-small btn-info', :id => 'add-new-task-anchor' %>
    <%= link_to 'Delete', list_path(@list), :method => :delete, :confirm => 'Are you sure you want to delete this list?', :remote => true, :class => 'btn btn-small btn-danger' %>
  </div>
</div>
<%= render :partial => 'tasks/list', :locals => {:list => @list, :tasks => @tasks} %>

<div id="new-task-container">
  <%= render :partial => 'tasks/new_task_form', :locals => {:task => @list.tasks.build} %>
</div>
